body{
    background-color: whitesmoke;
    margin: 0px;
    
}
.grid_parent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 5%;
    margin: 50px 20% 20px 20%;
/*    padding-bottom: 100%;*/
/*
    grid-template-areas: 
        "work work work "
        "work work work "
        "work work work ";
*/
    
}
.grid_parent2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 20px;
    margin-top: -30px;
    
}

#author{
    font-family: Avenir;
    font-size: 16px;
    font-weight: 200;
}

img { 
    max-width: 100%;
    padding-bottom: 10px;
/*    object-fit: cover;*/
/*    height: 100v;*/
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: Clarendon L5;
}

/*
h4{
    text-decoration: underline;
}
*/
video{
    max-width: 100%;
}

p{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin-top: -35px;
}

.grid_header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        " header header";
    line-height: 8px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.header_1{
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;

}


.nav{
    text-align: right;
    margin-right: 50px;
    margin-top: 40px;
    font-size: 18px;
    font-family: Clarendon L5;

}

.work_1{
    font-family: Avenir;
/*    font-weight: 800;*/
    color: grey;
    font-size: 16px;
    text-align: center;
    font-weight: 200;
    width: 100%;
    margin: 0pt;
    height: 100%;
    
    
    
/*    width: 50%;*/
}




.work_grid{
    display: grid;
    grid-template-columns: 1fr;
    margin: 100px 200px 10px 200px;
    grid-gap: 30px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
/*    margin: 100px 200px 10px 200px;*/
    background-color: rgba(0,0,0,0.02);
    height: 20px;
    padding: 30px 100px;
    font-family: Avenir;
    font-size: 12px;
    font-weight: 200;
}

a{
    text-decoration: none;
    color: navy;
}
a:hover{
/*    padding-bottom: 10px;*/
    color: orange;
}
a:visited{
    
}
a:active{
    
}

/*
a.current_page_indicator {
    color: red;
}
*/



/*
.work_2{
font-family: sans-serif;
color: grey;
font-size: 12px;


}
.work_3{
font-family: sans-serif;
color: grey;
font-size: 12px;

}*/
